@media only screen and (max-width: 500px) {
    ::deep .comment-header {
        padding-left: 0;
    }
}

::deep .comment-header .coach-name-container {
    display: flex;
    gap: 0 .5rem;
}

@media only screen and (max-width: 600px) {
    ::deep .comment-header .coach-name-container {
        flex-direction: column;
    }
}

    ::deep .comment-header .coach-name-container .coach-tag {
        /*background-color: #fff48f;*/
    }
